export AWS_ACCESS_KEY_ID=AKIAJAGAHEDSAES
export AWS_SECRET_ACCESS_KEY=ramdomkeyna876876sygyf
export AWS_DEFAULT_REGION=eu-west-2
# Role to assume
# export AWS_ROLE_ARN=arn:aws:iam::1232123456783:role/Administrator
export AWS_ROLE_ARN=arn:aws:iam::987612349876:role/Some-Other-Role

# ARN of your MFA device
export AWS_MFA_SERIAL_NUMBER=arn:aws:iam::123412343234:mfa/admin
#KMS key used to encrypt the S3 results data
export AWS_S3_KMS_KEY=330e3c8d-1234-abcdefga
